.Card{
    position: absolute;
    margin-top: 150px;
    background-color: rgb(219, 203, 203);
    width: 90vw;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
}