.Card{
    position: absolute;
    margin-top: 150px;
    background-color: rgb(231, 224, 224);
    width: 90vw;
    left: 0;
    right: 0;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
}

#description-paragraph{
    white-space: pre-wrap;
}

#image100{
    width: 100%;
}

#image50{
    width: 50%;
}

#image25{
    width: 25%;
}

@media screen and (max-width: 600px) {
    #image25{
        width: 50%;
    }
    
    #image50{
        width: 100%;
    }
  }