.toggle-btn {
    position: absolute;
    top: 40px;
    margin: 0;
    left: 2vw;
    cursor: pointer;
  }
  
.toggle-btn:hover span{
    background-color: rgb(54, 54, 54);
}

  .toggle-btn span {
    display: block;
    width: 40px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 5px;
  }

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-250px);
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  .sidebar ul {
    list-style-type: none;
    padding-left: 10px;
  }
  
  .sidebar li {
    cursor: pointer;
  }

  .btn-close{
    position: absolute;
    right: 15px;
  }