.Title{
    top: 10px;
    position: absolute;
    width: 100vw;
    text-align: center;
}

.Title p{
    font-size: 50px;
}

.Title h6{
    padding-bottom: 2px;
}

#allow-pointer-events{
    pointer-events: all;
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .Title{
        top: 75px;
    }
    .Title p{
        font-size: 35px;
    }
  }